.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #060c1a;
}

/* .App-header {
  background-color: #060c1a;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.mylink{
  padding: 10px;
}

.mylink a, .mylink a:hover{
  text-decoration: none;
}